<template>
  <div v-if="show">
    <!--<div class="container">-->
      <div id="logigramme">
        <div class="columns has-text-centered">
            <div class="column box is-radiusless is-marginless is-2" v-for="(n, index) in cibles" :key="n.Id">
              <h5 class="title is-5 is-special-section"> {{ n.Session }} </h5>
              <div class="has-text-centered" style="width:100%;" :key="n.Id">
                <div :id='"div-enonce-" + n.Id' :myindex="index"
                     :data-balloon="n.Enonce" data-balloon-length="large" data-balloon-pos="down">
                  <p class="is-special-p is-special-section">
                    {{ n.Enonce }}
                  </p>
                </div>
                <!--<div class="field is-special-section">-->
                  <!--<a id="1" class="button" @click="addActivite(index + 1)"><i class="fa fa-plus-circle"></i></a>-->
                  <!--<a id="2" class="button" @click="addActiviteExistante(index + 1)">Ajouter existantes</a>-->
                <!--</div>-->
                <draggable :id="index" @end="endMove" :move="checkMove"
                           v-model="listeActivitesObject[index]"
                           :class="{'is-expandable': activeMinHeightIfSomethingInLists }"
                           :options="{group: 'activite', ghostClass: 'ghost', animation: 1}">
                  <!--:class="{'is-expandable-on-hover': listeActivitesObject[index].length !== 0 }"-->
                  <!--style="min-height: 44px"-->
                  <div v-for="act in listeActivitesObject[index]"
                       class="card is-radiusless has-addons
                       item is-borderless  activiteAppr"
                       :data-balloon="act.Activite.Enonce"
                       data-balloon-pos="down" :key="act.Id"
                       @mouseover="act.showIcons = true" @mouseout="act.showIcons = false">
                    <div class="card-content">
                      <div  class="content">
                        <div class="tile is-ancestor">
                          <div class="tile is-parent has-text-left is-paddingless">
                            <div class="tile is-child">
                              {{act.Activite.Enonce}}
                            </div>
                          </div>
                          <div class="tile is-parent is-vertical is-paddingless"
                            v-bind:class="{ 'is-3': act.Activite.Enonce.length > 20, 'is-5': act.Activite.Enonce <= 20 }">
                            <div class="tile is-child has-text-right">
                              <a v-show="act.showIcons" class="icon is-medium button" @click="editActivite(act.Activite)"
                                v-bind:class="{ 'icon-v': act.Activite.Enonce.length > 20 }">
                                <i class="fa fa-pencil-square-o is-info"></i>
                              </a>
                              <a v-show="act.showIcons" class="icon is-medium button" @click="removeActivite(act.ActiviteProfil.Id, index + 1)">
                                <i class="fa fa-trash is-danger"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <footer class="card-footer">
                      <span class="card-footer-item is-paddingless" v-for="comp in act.ListeCompetences" :key="comp.Id">{{ comp.Code }}</span>
                    </footer>
                  <!-- <div v-for="act in listeActivitesObject[index]"
                       class="is-radiusless field has-addons
                       item box is-marginless has-text-centered-vertically is-borderless"
                       :data-balloon="act.Activite.Enonce"
                       data-balloon-pos="down">
                    <p class="control is-expanded is-special-p">
                      {{act.Activite.Enonce }}
                      <sup v-for="(comp, index) in act.listComp">
                        <a>{{ comp.Code }}</a>
                      </sup>
                      <a>[1]</a>
                    </p>
                    <p v-for="(comp, index) in act.listComp">
                      {{ act.listComp[index].Code }}
                    </p>-->
                    </div>
                </draggable>
              </div>
            </div>
        </div>
      </div>
    <!--</div>-->
  </div>
</template>

<script>
  import axios from 'axios';
  import draggable from 'vuedraggable';
  // import focus from 'vue-focus';

  export default {
    props: ['idProfil', 'afficher', 'actualiser', 'show', 'sessionAjouter'],
    components: {
      draggable,
    },
    data() {
      return {
        idP: '',
        listeActivitesObject: {
          0: [],
          1: [],
          2: [],
          3: [],
          4: [],
          5: [],
        },
        listeActiviteExistante: [],
        listObjectRealtedContext: [],
        activiteProfil: {},
        cibles: [],
        boolIsSomethingInLists: false,
        // listeActiviteProfils1: [],
        // listeActiviteProfils2: [],
        // listeActiviteProfils3: [],
        // listeActiviteProfils4: [],
        // listeActiviteProfils5: [],
        // listeActiviteProfils6: [],
      };
    },
    methods: {
      letStartComponent() {
        this.getCiblesFromAPI(this.idP);
        this.getActiviteProfil(this.idP);
      },
      clearCibles() {
        this.cibles = [];
      },
      getCiblesFromAPI(id) {
        this.clearCibles();
        axios.get(`/api/CiblesParIdProfil/${id}`,
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          })
          .then((response) => {
            if (response.data !== null) {
              for (let i = 0; i < response.data.length; i += 1) {
                if (!response.data[i].Session) {
                  response.data[i].Session = '...';
                }
                if (!response.data[i].Enonce) {
                  response.data[i].Enonce = '...';
                }
                this.cibles.push(response.data[i]);
              }
            }
          });
      },
      addActivite(session) {
        // const idSession = e.target.parentNode.parentNode.getAttribute('id');
        this.$emit('creerActivite', true, session);
        // this.getActiviteProfil(this.idP);
      },
      removeActivite(id, session) {
        this.$emit('DeleteActivite', true, id, session);
      },
      editActivite(act) {
        this.$emit('ModifierActivite', true, act);
      },
      getActiviteProfil(id) {
        for (let i = 0; i < 6; i += 1) {
          this.listeActivitesObject[i] = [];
        }
        axios.get(`/api/GetActiviteProfils/${id}`,
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          }).then((response) => {
            for (let i = 0; i < response.data.length; i += 1) {
              const session = response.data[i].Activite.Session - 1;
              const act = response.data[i];
              act.showIcons = false;
              this.listeActivitesObject[session].push(act);
            }
            this.$emit('actu', false);
          });
//          .then(() => {
//          Object.keys(this.listeActivitesObject).forEach((k) => {
//            // ici innerArrayOfActivites
//            // const innerArrayOfActivites = this.listeActivitesObject[k];
//            this.listeActivitesObject[k].forEach((e) => {
//              // Object.prototype.hasOwnProperty.call(foo, "bar")
//              if (Object.prototype.hasOwnProperty.call(e, 'Activite')) {
//                const listComp = [];
//                axios.get(`/api/GetActiviteCompetence/${e.Activite.Id}`).then((response) => {
//                  for (let i = 0; i < response.data.length; i += 1) {
//                    listComp.push(response.data[i]);
//                  }
//                });
//                e.listComp = listComp;
//              }
//            });
//          });
//          this.sortListes();
          // if (k2.toString() === 'Activite') {
          //   const listeCompetenceLieesActivites = [];
          //   axios.get(`/api/GetActiviteCompetence/${k2.Id}`).then((response) => {
          //     for (let i = 0; i < response.data.length; i += 1) {
          //       listeCompetenceLieesActivites.push(response.data[i]);
          //     }
          //   });
          //   this.listeActivitesObject[k][k2].listeComp = listeCompetenceLieesActivites;
          // }
          // axios.get(`/api/GetActiviteCompetence/${id}`).then((response) => {
          //   for (let i = 0; i < response.data.length; i += 1) {
          //     this.listeCompetencesActivite.push(response.data[i]);
          //   }
          // });
//        }).then(() => {
//        });
      },
      addActiviteExistante(session) {
        axios.get(`/api/GetActivitesBySession/${session}/${this.idProfil}`,
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          }).then((response) => {
            this.listeActiviteExistante = [];
            for (let i = 0; i < response.data.length; i += 1) {
              this.listeActiviteExistante.push(response.data[i]);
            }
            this.$emit('listeActiviteExistante', this.listeActiviteExistante);
          });
      },
      checkMove(evt) {
        if (evt.relatedContext.list !== undefined || evt.relatedContext.list !== null) {
          this.listObjectRealtedContext = evt.relatedContext.list;
        }
        this.activiteProfil = evt.draggedContext.element;
      },
      endMove(evt) {
        const idOfColumnFrom = evt.from.id;
        const idOfColumnTo = evt.to.id;
        const sessionPourPut = parseInt(idOfColumnFrom) + 1;
        const idInt = parseInt(idOfColumnTo);
        const index = evt.newIndex;
        // si les colonnes changent
        if (idOfColumnFrom !== idOfColumnTo) {
          axios({
            method: 'PUT',
            url: `/api/Activites/${this.activiteProfil.Activite.Id}`,
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: {
              Id: this.activiteProfil.Activite.Id,
              Session: idInt + 1,
              Enonce: this.activiteProfil.Activite.Enonce,
              Description: this.activiteProfil.Activite.Description,
            },
          }).then(() => {
            axios({
              method: 'PUT',
              url: `/api/UpdateActiviteProfilMove/${this.activiteProfil.ActiviteProfil.Id}`,
              headers: {
                Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
              },
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: {
                Session: sessionPourPut,
                positionVertical: index + 1,
                PositionHorizontale: sessionPourPut,
              },
            }).then(() => {
              this.$parent.updateDBPopup('is-success', null);
            });
          });
          // todo ici il faut pouvoir bouger les profils competences et puis avertir l'utilisateur
          // axios({
          //   method: 'PUT',
          //   url: `/api/UpdateActiviteProfilMove/${this.activiteProfil.ActiviteProfil.Id}`,
          //   contentType: 'application/json; charset=utf-8',
          //   dataType: 'json',
          //   data: {
          //     Session: sessionPourPut,
          //     positionVertical: index + 1,
          //     PositionHorizontale: sessionPourPut,
          //   },
          // });
        } else {
          // if (this.activiteProfil !== null) {
            // numero = this.listeActivitesObject[idInt].indexOf(this.activiteProfil) + 1;
          axios({
            method: 'PUT',
            url: `/api/UpdateActiviteProfilMove/${this.activiteProfil.ActiviteProfil.Id}`,
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: {
              positionVertical: index + 1,
              Session: idInt + 1,
              PositionHorizontale: sessionPourPut,
            },
          }).then(() => {
            this.$parent.updateDBPopup('is-success', null);
          });
          // }
        }
      },
      sortListes() {
        Object.keys(this.listeActivitesObject).forEach((k) => {
          this.listeActivitesObject[k]
            .sort((a, b) => a.ActiviteProfil.positionVertical - b.ActiviteProfil.positionVertical);
        });
      },
    },
    created() {
    },
    computed: {
      activeMinHeightIfSomethingInLists() {
        let bool = false;
        Object.keys(this.listeActivitesObject).forEach((v) => {
          if (this.listeActivitesObject[v].length !== 0) {
            bool = this.listeActivitesObject[v].length !== 0;
          }
        });
        return bool;
      },
    },
    watch: {
      idProfil(value) {
        this.idP = value;
        this.getActiviteProfil(this.idP);
        this.getCiblesFromAPI(this.idP);
      },
      actualiser(value) {
        if (value) {
          this.getActiviteProfil(this.idP);
          this.getCiblesFromAPI(this.idP);
        }
      },
      sessionAjouter(value) {
        this.addActiviteExistante(value);
      },
    },
  };
</script>

<style scoped lang="scss">

  .is-special-section{
    margin-bottom: .6rem;
  }

  .is-special-p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 38ch;
    /*max-width: min-content;*/
    /*width: 5%;*/
    /*max-width: 5%;*/
    padding-left: .3rem;
    padding-right: .3rem;
  }

  .has-text-centered-vertically{
    text-align: center;
    vertical-align: middle;
    line-height: 215%;
  }

  .is-expandable{
    min-height: 10rem;
  }

  .is-expandable-on-hover:hover{
    min-height: 3rem;
  }

  .card-content {
    padding: 20px;
    min-height: 48px;
  }

  .icon-v {
    margin-bottom: 4px;
  }

  .activiteAppr {
    margin-bottom: .6rem;
  }

</style>
