<template>
  <div>
    <!--<div class="hero is-small">-->
      <!--<div class="hero-body">-->
        <!--<br />-->
        <!--<h1 class="title" id="titreComp">{{ competence.Code }} {{ competence.Enonce }}</h1>-->
      <!--</div>-->
    <!--</div>-->
    <!--<article class="message is-primary">-->
      <!--<div class="message-header">-->
        <!--<p>Contexte de realisation</p>-->
      <!--</div>-->
      <!--<div class="message-body" id="ContexteCompetences">-->
        <!--<p v-for="contexte in contextes" :key="contexte.Id">{{ contexte.txt }}</p>-->
      <!--</div>-->
    <!--</article>-->
    <nav class="level">
      <div class="level-left">
        <div class="level-item has-text-centered">
          <h2 class="subtitle">
            Code : {{ competence.Code }}
          </h2>
        </div>
      </div>
    </nav>
    <nav class="level">
        <div class="level-item has-text-centered">
          <h2 class="subtitle is-primary">
            Objectif
          </h2>
        </div>
        <div class="level-item has-text-centered">
          <h2 class="subtitle is-primary">
            Standard
          </h2>
        </div>
    </nav>
    <table class="table is-fullwidth  is-bordered is-primary">
      <col width="50">
      <col width="50%">
      <thead>
      <tr>
        <th>Énoncé de la compétence</th>
        <th>Contexte de réalisation</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{ competence.Enonce }}
          </td>
          <td>
            <ul>
              <li v-for="contexte in contextes" :key="contexte.Id">{{ contexte.txt }}</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table is-fullwidth is-bordered is-primary">
      <col width="50">
      <col width="50%">
      <thead>
      <tr>
        <th>Element de competence</th>
        <th>Criteres de performance</th>
      </tr>
      </thead>
      <tbody>
        <element-competence v-for="element in elementsCompetence" :key="element.Id" :elementElement="element.Element" :elementId="element.Id" :elementNo="element.No" :apercus="true"></element-competence>
      </tbody>
    </table>
  </div>
</template>

<script>
  import ElementCompetence from '@/components/form/competence/ElementCompetence';
  import axios from 'axios';

  export default {
    name: 'apercus-competence',
    props: ['competence'],
    components: {
      'element-competence': ElementCompetence,
    },
    data() {
      return {
        contextes: [],
        elementsCompetence: [],
      };
    },
    methods: {
      getContexte(idComp) {
        axios.get(`/api/ContexteRealisationsByIdCompetence/${idComp}`,
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          }).then((response) => {
            let text;
            let numero = 0;
            for (let i = 0; i < response.data.length; i += 1) {
              numero = i + 1;
              text = `${numero}. ${response.data[i].Contexte}`;
              this.contextes.push({
                id: i,
                txt: text,
              });
            }
          });
      },
      getElements(idCompetence) {
        axios.get(`/api/ElementCompetencesByIdCompetence/${idCompetence}`,
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          }).then((response) => {
            for (let i = 0; i < response.data.length; i += 1) {
              this.elementsCompetence.push(response.data[i]);
            }
          });
      },
      cleanUp() {
        this.contextes = [];
        this.elementsCompetence = [];
      },
    },
    created() {
      const id = this.competence.Id;
      this.cleanUp();
      this.getContexte(id);
      this.getElements(id);
    },
  };
</script>

<style scoped lang="scss">

</style>
