<template>
    <article class="message is-primary">
       <div class="message-header">
          <p>Contexte de realisation</p>
       </div>
       <div class="message-body" id="ContexteCompetences">
          <p v-for="contexte in contextes" :key="contexte.id">{{ contexte.txt }}</p>
       </div>
    </article>
</template>

<script>
   import axios from 'axios';

   export default {
     props: ['idComp'],
     data() {
       return {
         contextes: [],
       };
     },
     methods: {
       getContexte(idComp) {
         this.cleanUpContextes();
         axios.get(`/api/ContexteRealisationsByIdCompetence/${idComp}`,
           { headers: {
             Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
           },
           }).then((response) => {
             let text;
             let numero = 0;
             for (let i = 0; i < response.data.length; i += 1) {
               numero = i + 1;
               text = `${numero}. ${response.data[i].Contexte}`;
               this.contextes.push({
                 id: i,
                 txt: text,
               });
             }
           });
       },
       cleanUpContextes() {
         this.contextes = [];
       },
     },
     watch: {
       idComp(value) {
         this.getContexte(value);
       },
     },
     created() {
       const id = this.idComp;
       this.getContexte(id);
     },
   };
</script>
