<template>
  <div>
    <div class="level">
      <div class="level-item field-label">
        <label class="label duree">
          Durée Nécessaire pour réaliser cette compétence, en heure:
        </label>
      </div>
      <div class="level-item field-body is-one-fifth duree">
        <div class="field">
          <input id="duree" type="number" class="input" :value="duree" @blur="putDuree($event)">
        </div>
      </div>
      <span class="printable">{{ duree }}</span>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    props: ['idComp', 'dureeComp', 'sessionComp'],
    data() {
      return {
        duree: '',
        plusDuneSession: '',
      };
    },
    methods: {
      putDuree(event) {
        axios({
          method: 'PUT',
          url: `/api/Competences/${this.idComp}/DureeEstimee`,
          headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          dataType: 'json',
          contentType: 'application/json; charset=utf-8',
          data: {
            Code: '1000000000',
            Enonce: 'dsa',
            Obligatoire: false,
            DureeEstimee: event.target.value,
          },
        }).then(() => {
          this.$parent.updateDBPopup('is-success', null);
        });
      },
    },
    watch: {
      dureeComp(value) {
        this.duree = value;
      },
    },
    created() {
      const dureeALaCreationComposant = this.dureeComp;
      this.duree = dureeALaCreationComposant;
    },
  };
</script>

<style>

</style>
