<template>
  <table class="table rowSpacing">
    <col width="15%">
    <col width="30%">
    <col width="30%">
    <col width="25%">
    <thead>
    <tr>
      <th>Element de competence</th>
      <th>Savoirs</th>
      <th>Savoirs-Faire</th>
      <th>Criteres de performance</th>
    </tr>
    </thead>
    <tbody id="listeElem">
      <element-competence v-for="element in elementsCompetence" :key="element.Id" :elementElement="element.Element" :elementId="element.Id" :elementNo="element.No"></element-competence>
    </tbody>
  </table>
</template>

<script>
  import ElementCompetence from '@/components/form/competence/ElementCompetence';
  import axios from 'axios';

  export default {
    props: ['idComp'],
    components: {
      'element-competence': ElementCompetence,
    },
    data() {
      return {
        elementsCompetence: [],
      };
    },
    methods: {
      getElements(idCompetence) {
        this.cleanUpElementsCompetence();
        axios.get(`/api/ElementCompetencesByIdCompetence/${idCompetence}`,
          { headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          }).then((response) => {
            for (let i = 0; i < response.data.length; i += 1) {
              this.elementsCompetence.push(response.data[i]);
            }
          });
      },
      cleanUpElementsCompetence() {
        this.elementsCompetence = [];
      },
    },
    watch: {
      idComp(value) {
        if (value !== '') {
          this.getElements(value);
        }
      },
    },
    created() {
      const id = this.idComp;
      this.getElements(id);
    },
  };
</script>
