<template>
  <div class="field">
    <label class="label">{{ titreTextarea }}</label>
    <textarea v-model="textTextArea" id="textAreaInfoCompetence" class="textarea" @keyup.enter="updateData" @blur="updateData($event)">{{ textTextArea }}</textarea>
    <p class="printable">{{ textTextArea }}</p>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'TextAreaForm',
    props: [
      'titreTextarea',
      'Comp',
      'RouteAPI',
    ],
    data() {
      return {
        textTextArea: '',
      };
    },
    methods: {
      updateData(event) {
        // event.target.blur();
        axios({
          method: 'PUT',
          url: `/api/Competences/${this.Comp.Id}/${this.RouteAPI}`,
          headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          dataType: 'json',
          contentType: 'application/json; charset=utf-8',
          data: {
            Code: '1000000000',
            Enonce: 'dsa',
            Obligatoire: false,
            Clarification: event.target.value,
            Place: event.target.value,
            EpreuveFinale: event.target.value,
          },
        }).then(() => {
          this.$parent.updateDBPopup('is-success', null);
        }).catch((error) => {
          this.$parent.updateDBPopup('is-danger', error.response.data.ModelState);
        });
      },
      cleanTextArea() {
        this.textTextArea = '';
      },
      getData(competence) {
        // TODO trouver une solution au probleme ici
        if (this.RouteAPI === 'Clarification') {
          this.textTextArea = competence.Clarification;
        } else if (this.RouteAPI === 'PlaceCompetence') {
          this.textTextArea = competence.Place;
        } else {
          this.textTextArea = competence.EpreuveFinale;
        }
      },
    },
    watch: {
      Comp(value) {
        if (value) {
          this.cleanTextArea();
          this.getData(value);
        }
      },
    },
    created() {
      const competenceALaCreationComposant = this.Comp;
      this.getData(competenceALaCreationComposant);
    },
  };
</script>
