<template>
  <div>
    <!-- Deletion popup confirmation box -->
    <div class="modal" id="ConfirSupp" :class="{ 'is-active': isActiveSupp }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Suppression de Profil</p>
          <button class="delete removeModal" aria-label="close" @click="hideSuppProfilModal"></button>
        </header>
        <section class="modal-card-body">
          Etes-vous sur de vouloir supprimer le Profil : <span id="profilASupprimer">{{ profil.Abbreviation ? `${profil.Abbreviation} - ` : '' }}{{ profil.Nom }}</span>?
        </section>
        <footer class="modal-card-foot">
          <button id="confirmSup" class="button is-success" @click="supprimerProfil">Confirmer</button>
          <button class="button removeModal" @click="hideSuppProfilModal">Annuler</button>
        </footer>
      </div>
    </div>

    <!-- Profile creation modal -->
    <div class="modal" id="newProfileModal" :class="{ 'is-active': isActiveCreer }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Creation d'un nouveau profil</p>
          <button class="delete removeModal" aria-label="close" @click="hideCreerProfilModal"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <label class="label">Nom profil</label>
            <div class="control">
              <input class="input" type="text" id="nouveauNomProfil" v-model="nomProfilCreer"/>
            </div>
          </div>

          <div class="field">
            <label class="label">Abbréviation (optionnel)</label>
            <div class="control">
              <input class="input" type="text" id="nouvelleAbbreviationProfil" v-model="abbreviationProfilCreer"/>
            </div>
          </div>

          <div class="field">
            <label class="label">Description profil (optionnel)</label>
            <div class="control">
              <input class="input" type="text" id="nouvelleDescriptionProfil"  v-model="descriptionProfilCreer"/>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <input class="button is-success" type="submit" id="creerProfil" value="Creer" @click="creerProfil" />
          <button class="button removeModal" @click="hideCreerProfilModal">Annuler</button>
        </footer>
      </div>
    </div>

    <!-- Profile management zone  -->
    <div class="level" >
      <title-page :propsTitle="'Profil(s) de sortie'"></title-page>

      <div class="level-item level-right">
        <div class="field has-addons">
          <div class="control">
            <div class="select">
              <select v-model="indexOption" id="listeProfils" @change="selected">
                <option selected value="">Selectionner un Profil</option>
                <option v-for="(option, index) in profilsOptions" :value="index" :key="option.Id">{{ option.Nom }}</option>
              </select>
            </div>
          </div>
          <div class="control">
            <a class="button" id="supProfil"
                    @click="showSuppProfilModal" :disabled="!afficher"
                    :class="{'is-disabled': !afficher}" :data-balloon="textHoverInfoButtonDelete"
                    data-balloon-pos="down" data-balloon-length="medium">
              <i class="fa fa-trash"></i>
            </a>
          </div>
          <div class="control">
            <a class="button" id="copierProfil"
                  @click="copierProfil" :disabled="!afficher"
                  :class="{'is-disabled': !afficher}" :data-balloon="textHoverInfoButtonCopier"
                  data-balloon-pos="down" data-balloon-length="medium">
              <i class="fa fa-copy"></i>
            </a>
          </div>
          <div class="control">
            <a id="createProfileBtn" class="button is-success"
               @click="showCreerProfilModal"
               :data-balloon="textHoverInfoButtonAdd"
               data-balloon-pos="down" data-balloon-length="medium">Créer un profil</a>
          </div>
          <div class="control">
            <router-link :to="'/Cours/' +  profil.Id">
              <button :disabled="!afficher" class="button">Grille de cours</button>
            </router-link>
          </div>
        </div>
      </div>
    </div>
    <div v-if="afficher">
      <edit-profil :route="'Profils'" :objectToEdit="profil"
                   :stringEmpty="'description'"
                   :propsKeys="{
                      name: 'Nom',
                      nameToString: 'Nom',
                      desc: 'Description',
                      descToString: 'Description',
                      abbreviation: 'Abbreviation',
                      abbreviationToString: 'Abbreviation' }"
                   :objectToEditToString="'profil'"></edit-profil>
    </div>

    <profil-update :propsPopupHide="popupHide"
                   :propsMessageClass="popupMessageClass"
                   :propsMessageSuccessError="popupMessageContent"></profil-update>


    <profil-liste :idProfil="idProfil" :afficher="afficher"></profil-liste>
  </div>
</template>

<script>
  import axios from 'axios';
  import ProfilListe from '@/components/form/profil/ProfilListe';
  import PopUpSavedCornerRightDown from '@/components/reactivity/PopUpSavedCornerRightDown';
  import TitlePage from '@/components/static_rendering/TitrePage';
  import EditProfil from '@/components/reactivity/EditChampOuProfil';

  export default {
    name: 'profilControlPanel',
    components: {
      'profil-liste': ProfilListe,
      'profil-update': PopUpSavedCornerRightDown,
      TitlePage,
      EditProfil,
    },
    data() {
      return {
        indexOption: '',
        profil: {},
        idProfil: 0,
        profilsOptions: [],
        nomProfilCreer: '',
        descriptionProfilCreer: '',
        abbreviationProfilCreer: '',
        isActiveCreer: false,
        isActiveSupp: false,
        afficher: false,
        popupHide: true,
        popupMessageClass: '',
        popupMessageContent: {},
        textHoverInfoButtonDelete: 'Cliques ici pour supprimer le profil sélectionné',
        textHoverInfoButtonAdd: 'Cliques ici pour ajouter un nouveau profil à la liste',
        textHoverInfoButtonCopier: 'Cliques ici pour copier le profil sélectionné',
      };
    },
    created() {
      this.getListeProfils();
    },
    methods: {
      getListeProfils() {
        this.profilsOptions = [];
        axios.get('/api/Profils',
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          }).then((response) => {
            for (let i = 0; i < response.data.length; i += 1) {
              this.profilsOptions.push(response.data[i]);
            }
          });
      },
      creerProfil() {
        axios({
          method: 'POST',
          url: '/api/Profils',
          contentType: 'application/json; charset=utf-8',
          headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          dataType: 'json',
          data: {
            Nom: this.nomProfilCreer,
            Abbreviation: this.abbreviationProfilCreer,
            Description: this.descriptionProfilCreer,
          },
        }).then((response) => {
          axios({
            method: 'POST',
            url: `/api/Cibles/${response.data.Id}`,
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
            dataType: 'json',
          });
          this.hideCreerProfilModal();
          this.getListeProfils();
          this.updateDBPopup('is-success', null);
        }).catch((error) => {
          this.updateDBPopup('is-danger', error.response.data.ModelState);
        });
      },
      supprimerProfil() {
        axios({
          method: 'DELETE',
          url: `/api/Profils/${this.profil.Id}`,
          headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
        }).then(() => {
          this.afficher = false;
          this.hideSuppProfilModal();
          this.indexOption = '';
          this.selected();
          this.getListeProfils();
          this.updateDBPopup('is-success', null);
        });
      },
      selected() {
        if (this.indexOption !== '') {
          this.profil = this.profilsOptions[this.indexOption];
          this.idProfil = this.profil.Id;
          this.afficher = true;
        } else {
          this.profil = {};
          this.afficher = false;
        }
      },
      showCreerProfilModal() {
        this.isActiveCreer = true;
      },
      hideCreerProfilModal() {
        this.isActiveCreer = false;
        this.nomProfilCreer = '';
        this.abbreviationProfilCreer = '';
        this.descriptionProfilCreer = '';
      },
      showSuppProfilModal() {
        this.isActiveSupp = true;
      },
      hideSuppProfilModal() {
        this.isActiveSupp = false;
      },
      updateDBPopup(stringClass, objectMessage) {
        this.popupHide = false;
        this.popupMessageClass = stringClass;
        this.popupMessageContent = objectMessage;
        setTimeout(this.closePopup, 2000);
      },
      closePopup() {
        this.popupHide = true;
      },
      copierProfil() {
        axios({
          method: 'POST',
          url: '/api/Profils/Copier',
          headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          data: this.profil,
        }).then(() => {
          this.getListeProfils(() => {
            const i = this.profilsOptions.length - 1;
            this.indexOption = i;
            this.profil = this.profilsOptions[i];
          });
          this.updateDBPopup('is-success', null);
        }).catch((error) => {
          this.updateDBPopup('is-danger', error.response.data.ModelState);
        });
      },
    },
  };
</script>
<style>

</style>
