<template>
  <section class="hero">
    <div class="hero-body">
      <!--<img src="../../img/maisonneuve.png" />-->
      <!--<br/>-->
      <h1 class="title">
        {{ title }}
      </h1>
      <!--<h2 class="subtitle">-->
        <!--Création, modification, suppression-->
      <!--</h2>-->
    </div>
  </section>
</template>

<script>

  export default {
    props: {
      propsTitle: String,
    },
    data() {
      return {
        title: '',
      };
    },
    created() {
      this.title = this.propsTitle;
    },
  };
</script>

<style>

</style>
